.div.ReactModal__Overlay.ReactModal__Overlay--after-open {

    background-color: #4f4f4f;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
    width: 500px !important;
    height: 500px !important;
    background-color: #4f4f4f;
  }
.ReactModalPortal {
    background-color: #4f4f4f;
}
.ReactModal__Overlay--after-open {
    background-color: #4f4f4f;
}
.ReactModal__Body--open {
    background-color: #4f4f4f;
}
.ReactModal__Content.ReactModal__Content--after-open {
    padding: 0;
    background-color: #4f4f4f;
    inset: 0;
}
.element.ReactModal__Content--after-open{
    padding: 0;
    background-color: #4f4f4f;
    inset: 0;
}